[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git
[submodule "libs/openssl"]
	path = libs/openssl
	url = https://github.com/openssl/openssl.git
